# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
ENV/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uploads and converted files
uploads/
converted/

# Logs
*.log

# Jupyter Notebooks
.ipynb_checkpoints/

# Other
*.bak
*.swp
